.outlineButtonComponent {
  display: flex;
  width: 100%;
  padding: 14px 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 1px solid var(--Secondary);
  // background: var(--White);
  background: transparent;
  color: var(--Primary, #1b2443);
  font-family: Chillax;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  transition: ease-in-out 0.1s;

  cursor: pointer;
  &:hover {
    transition: ease-in-out 0.1s;
    border: 1px solid var(--SecondaryHover);
    background: var(--Secondary);
    color: var(--White) !important;
  }
}

.outlineButtonComponent:hover .register-select-svg {
  transition: ease-in-out 0.1s;
  filter: invert(100%) brightness(100%) contrast(100%);
}

@media screen and (max-width: 768px) {
  .outlineButtonComponent {
    display: flex;
    width: 100%;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid var(--Secondary);
    background: transparent;
    color: var(--Primary, #1b2443);
    font-family: Chillax;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    transition: ease-in-out 0.1s;

    cursor: pointer;
    &:hover {
      transition: ease-in-out 0.1s;
      border: 1px solid var(--SecondaryHover);
      background: var(--Secondary);
      color: var(--White) !important;
    }
  }

  .outlineButtonComponent:hover .register-select-svg {
    transition: ease-in-out 0.1s;
    filter: invert(100%) brightness(100%) contrast(100%);
  }
}
