.blueButtonComponent {
  display: flex;
  width: 100%;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 1px solid var(--Secondary);
  background: var(--Secondary);
  color: #fff;
  font-family: Chillax;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  &:hover {
    transition: ease-in-out 0.3s;

    border: 1px solid var(--SecondaryHover);
    background: var(--SecondaryHover);
  }
}

@media screen and (max-width: 768px) {
  .blueButtonComponent {
    display: flex;
    width: 100%;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid var(--Secondary);
    background: var(--Secondary);
    color: var(--White);
    font-family: Chillax;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    transition: ease-in-out 0.1s;
    cursor: pointer;
    &:hover {
      transition: ease-in-out 0.3s;
  
      border: 1px solid var(--SecondaryHover);
      background: var(--SecondaryHover);
    }
  }
  
  
}
